<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxm.demo.test1.persistence.mybatis.dao.UserDao"> <!--通过完全限定名绑定DAO接口 -->
    <!-- 为了返回list 类型而定义的returnMap -->
    <resultMap type="com.hxm.demo.test1.persistence.mybatis.object.UserDo" id="UserMap" > <!-- 结果集的映射,用来描述如何从数据库结果集中来加载对象到领域模型中-->
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="addr"/>
    </resultMap>
    <!--resultType="map" : 将查询结果映射到一个HashMap上-->
    <!--resultType=UserDo : 将查询结果映射到一个领域模型上，例如一个javabean上-->
    <!--resultMap=上面定义的结果集的映射-->
    <select id="getByName" resultMap="UserMap">select * from user where name=#{name}</select>

    <select id="getByGender" resultMap="UserMap">select * from user where gender=#{gender}</select>

    <update id="updateAddr" parameterType="UserDo">
        UPDATE user
        SET
        addr =#{address}
        WHERE name =#{name}
    </update>
</mapper>